@model WebApplication4.Models.Order

@{
    ViewData["Title"] = "Edit";
    IEnumerable<Row> list = ViewBag.ListRow;

}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row g-3">
    <div class="col-md-12 ">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
               <div class="row g-3">
                <div class="col-4">
                    <label asp-for="Customer" class="control-label"></label>
                    <select asp-for="Customer" class="form-control " disabled asp-items="ViewBag.Customer"></select>
                    <span asp-validation-for="Customer" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control " disabled asp-items="ViewBag.Status"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="TotalPrice" class="control-label"></label>
                    <input asp-for="TotalPrice" class="form-control " disabled />
                    <span asp-validation-for="TotalPrice" class="text-danger"></span>
                </div>
            </div>
            @*@Html.Partial("../Rows/_Index.cshtml", list)*@
            @if (list.Count() == 0)
            {
                <br />
                <div class="alert alert-secondary" role="alert">
                    There are no Rows for this order, <a href="../../Rows/Create?OrderId=@(Model.OrderId)" class="">Add a new Row</a>
                </div>
            }
            else
            {
                <partial name="../Rows/_Index.cshtml" model="@list" />

                
            }

            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
